.App {
  text-align: center;
  height:100vh;
}

header, footer {
  z-index: 1000;
  position: absolute;
}

h1 {
  margin: 0;
}

header {
  top:1rem;
  left:1rem;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 5rem;
  padding: .4rem 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .45);
}

footer {
  bottom: 0;
  background-color: beige;
  padding: .1rem;
  font-family: 'Courier New', Courier, monospace;
}

.infos {
  z-index: 500;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  padding: 1rem;
  display: none;
  width: calc(100vw - 4em);
  height: calc(50vh - 3em);
  background-color: cornsilk;
  border-radius: .4rem;
  padding: .4rem 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .45);
}

.infos-btn-close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: .6rem;
  font-size: 1.4em;
  font-weight: bold;
}

.infos.show {
  display: block;
}

.infos h2 {
  margin: 0;
}

.pin {  
  cursor: pointer;
  border-radius: 50%;
  border: 8px solid orangered;
  width: 8px;
  height: 8px;
  text-indent: -9999px;
  font-size: 0px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid orangered;
}
