.App {
  text-align: center;
  height:100vh;
}

header, footer {
  z-index: 1000;
  position: absolute;
}

h1 {
  margin: 0;
  text-align: left;
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header {
  background-color: rgba(255, 255, 255, .5);
  padding: .6rem .2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .35);
  width: calc(100vw - .4rem);
  backdrop-filter: blur(3px);
}

.header-logo {
  width: 2.2rem;
  height: 2.2rem;
  display: block;
}

footer {
  bottom: 0;
  background-color: beige;
  padding: .1rem;
  font-family: 'Courier New', Courier, monospace;
}

.infos {
  transition: all ease 300ms;
  z-index: 500;
  position: absolute;
  right: 0;
  bottom: calc(-100vh);
  margin: 0rem;
  padding: 0rem;
  width: calc(100vw - 2rem);
  height: calc(60vh - 3em);
  background-color: #FFF;
  border-radius: .4rem;
  padding: .4rem 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos-btn-close {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: .6rem;
  font-size: 1.4em;
  font-weight: bold;
}

.btn {
  display: block;
  bottom: 1rem;
  width: 100%;
  background-color: green;
  color: white;
  height: 3rem;
}

.infos.show {
  bottom: 0;
}

.infos h2 {
  text-align: left;
  margin: 0;
  padding-top: .4rem;
}

.infos section {
  text-align: left;
}

.pin {  
  cursor: pointer;
  border-radius: 50%;
  border: 8px solid orangered;
  width: 8px;
  height: 8px;
  text-indent: -9999px;
  font-size: 0px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid orangered;
}

.pin.selected {
  border-color: blueviolet;
}

.pin.selected:after {
  border-color: transparent;
  border-top-color: blueviolet;
}

.mobile-only {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .mobile-only {
    display: block;
  }
  .browser-only {
    display: none;
  }
}
